.subtitle {
    font-family: 'Montserrat';
    font-style: italic;
    color: #4F4F4F;
}


.footer {

    text-align: center;
}

.footer p {
    margin-top: 4%;
}

.margen {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.margen img {
    width: 100%;
    border-radius: 3.4%;
}

.subsub {
    font-family: 'Playfair Display';
    font-style: italic;
    color: #333333;
}

.checkbox {
    font-family: 'Montserrat';
    font-style: normal;
    color: #333333;
}

.checkbox2 {
    font-family: 'Montserrat';
    font-style: normal;



    color: #333333;

}

.margen .row {
    border-color: solid black;
}

.col-sm-3 {
    padding: 0%;
}

.columna2 {
    border-radius: 12px;
    width: 99%;
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.33);
}




.columna2 img {
    width: 20%;
}

.columna2 .col {
    margin: 10%;
}



.columnas {
    margin-top: 1%;
}

.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 5px;
}

.custom-counter li::before {
    content: counter(step-counter);
    margin-right: 1%;
    font-size: 80%;

    background-color: rgb(255, 122, 14);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3%;
}

.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listaOrdenada {}

.listaOrdenada li {
    margin-top: 2%;
}